body{
	Background: white;
	font-family: Cambria;
  height: 100%;
	width: 100%;
}

#Banner{
	position: fixed;
	top: 0;
	left: 0;
	background: white;
	height: 5em;
	width: 100%;
	padding: .5em;
	/* border-bottom-style: solid;
	border-bottom-width: 1px; */
}

#Content{
	margin-top: 6em;
	background: white;
	width: 100%; */
	padding: .5em;
}

.Block{
	/* background: #dddddd; */

	border-bottom-style: solid;
  border-color: #999999;
	border-bottom-width: 1px;

	padding: 0.5em;
	/* margin: 0.5em; */
	margin-bottom: 2em;
}

a:link{
	color: #000000;
	text-decoration: none;
}

a:visited{
	color: #000000;
	text-decoration: none;
}

h1{
	display: inline;
}

h2{
	display: inline;
}

#horizontal_rule {
width: 100%;
height: 1px;
border: 0;
background-color: #000000;
}

.Button{
	width: 10em;
	line-height: 2em;
	text-align: center;
	display: inline;
	float:right;
}

.Button:Hover{
	background: #dddddd;
}
