body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;

    font-family: sans-serif;

    background-color: #fff1e8;
    background-image: url("img/beige-paper.png");
}

#header {
    color: #fff1e8;

    background-color: #8e4a49;
    background-image: url("img/beige-paper.png");
    width: 100%;
    height: 1.5em;
    font-size: 4em;
    text-align: center;
    padding-top: 0.2em;
    mix-blend-mode: multiply;
}

li {
    font-size: 1.5em;
    padding-bottom: 0.25em;
}

#letter {
    font-size: 6em;
}

#timer {
    font-size: 7em;
}

.flex-grid {
    display: flex;
}
.col {
    padding: 1em;
    flex: 1;
}

#seedarea {
    display: flex;
}

#seedbox {
    flex: 1;
    max-width: 10em;
}

.lowtime {
    color: red;
}

#refreshbutton,
#timerp,
#letterp {
    display: none;
}
